:root {
    --main-pink: #e18e96;
    --focus-shadow-pink: rgba(225, 142, 150, 0.5); 
}

main {
    display: block;
    width: 450px;
    margin: 0 auto;
    padding: 1em;
    background: white;
    border: 2px solid navy;
    box-shadow: 0 0 8px var(--focus-shadow-pink);
}
h1 {
    margin-top: 0;
    color: navy;
    border-bottom: 1px solid var(--main-pink);
    padding-bottom: 0.2em;
}
#data input,
select { 
    border: 1px solid #ddd; 
}

#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}

#data input:focus,
select:focus { 
    outline: none;
    border-color: var(--main-pink);
    box-shadow: 0 0 0 0.2rem var(--focus-shadow-pink);
}
#buttons input {
    float: left;
    margin-bottom: .5em;
    background-color: navy;
    color: white;
    border: 1px solid navy;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transition for all properties */
}

#buttons input[type="submit"]:hover {
    background-color: var(--main-pink); 
    border-color: var(--main-pink);
    color: navy;
}
br {
    clear: left;
}
.error {
    color: red;
    font-weight: bold;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333
}

label {
    width: 10em;
    float: left;
    margin-bottom: 8px;
    font-weight: bold;
    padding-right: 1em;
    padding-bottom: .5em;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23e18e96%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13%205.1L146.2%20202.7%2018.5%2074.5a17.6%2017.6%200%200%200-25.2%2024.5l132.9%20132.9c.7.7%201.7%201.4%202.6%201.8.8.3%201.7.6%202.7.9h.7c.9%200%201.9-.3%202.7-.9.9-.3%201.9-.9%202.6-1.8l132.9-132.9c18.5-18.4%2018.5-48.4%20-.1-66.9z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
}
